<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul>
                    <% products.forEach(p => { %>
                        <li>
                            <p><%= p.title %> (<%= p.cartitem.quantity %>)</p>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" name="productId" value="<%= p.id %>">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }); %>
                </ul>
                <hr>
                <div class="centered">
                    <form action="/create-order" method="POST">
                        <button class="btn" type="submit">Order Now!</button>
                    </form>
                </div>
            <% } else { %>
                <h1>No products in cart.</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>