<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <ul class="cart__item-list">
      <% products.forEach(p => { %>
      <li class="cart__item">
        <h1><%= p.productId.title %></h1>
        <h2>Quantity: <%= p.quantity %></h2>
      </li>
      <% }) %>
    </ul>
    <div>
      <h2 class="centered">Total: <%= totalSum %></h2>
    </div>
    <div>
      <!-- <form action="/create-order" method="POST"
        src="https://checkout.stripe.com/checkou.js" class="stripe-button"
        data-key="pk_test_W3dF6UCglOZ8TuhdpqvkWE6D001gtNjBrY"
        data-amount="<%= totalSum * 100 %>"
        data-name="Your Order"
        data-description="All the items you ordered"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-currency="eur">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      </form> -->
      <button id="checkout-button">Pay</button>
    </div>
  </main>

  <script src="https://js.stripe.com/v3"></script>
  <script>
    var stripe = Stripe('pk_test_W3dF6UCglOZ8TuhdpqvkWE6D001gtNjBrY');

    var checkoutButton = document.querySelector('#checkout-button');
    checkoutButton.addEventListener('click', function () {
      stripe.redirectToCheckout({
        items: [{
          // Define the product and SKU in the Dashboard first, and use the SKU
          // ID in your client-side code.
          sku: 'sku_FfSVFBa2Z98XXO',
          name: 'T-shirt',
          quantity: 1
        }],
        successUrl: 'https://www.example.com/success',
        cancelUrl: 'https://www.example.com/cancel'
      });
    });
  </script>

  <%- include('../includes/end.ejs') %>